@font-face {
  font-family: Montserrat;
  src: url('res/fonts/Montserrat-Regular.otf') format("opentype");
}
@font-face {
  font-family: Montserrat;
  src: url('res/fonts/Montserrat-Bold.otf') format("opentype");
  font-weight: bold;
}
body, html {
  background: #000;
  font-family: Montserrat, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
#message {
  color: white;
  font-weight: bold;
  font-size: 8em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: opacity 0.3s;
}
#logo {
  display: inline-block;
  height: 360px;
  width: auto;
}
#main {
  overflow: hidden;
  width: 1024px;
  height: 1024px;
  margin: 0 auto;
  position: relative;
  background: url('res/water-blue-circle.gif')  center  0 no-repeat; background-size: 1800px 1800px;
}
#content {
  border: none;
  display: block;
}
#overlay {
  position: absolute;
  border-radius: 50%;
  top: -135px;
  left: -523px;
  width: 2070px;
  height: 2070px;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1035px black;
}
.wave {
  position: absolute;
  border-radius: 50%;
  top: -135px;
  left: -523px;
  width: 2070px;
  height: 2070px;
  box-sizing: border-box;
  /* box-shadow: inset 0 0 1024px 256px black; */
  background: #007AFF;
  transition: transform 3s, opacity 3s;
}