@font-face {
  font-family: Montserrat;
  src: url('res/fonts/Montserrat-Regular.otf') format("opentype");
}
@font-face {
  font-family: Montserrat;
  src: url('res/fonts/Montserrat-Bold.otf') format("opentype");
  font-weight: bold;
}
body, html {
  background: #000;
  font-family: Montserrat, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
#message {
  position: absolute;
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  color: white;
  font-weight: bold;
  font-size: 6em;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: opacity 0.3s;
}
#logo {
  display: inline-block;
  height: 250px;
  padding: 25px 0;
  width: auto;
}
#main {
  overflow: hidden;
  width: 1024px;
  height: 1024px;
  margin: 0 auto;
  position: relative;
  background: url('res/water-blue-circle.gif') -315px 0 no-repeat; background-size: 1800px 1800px;
}
#content {
  border: none;
  display: block;
}

/**
  Drop origin:
  X: 585
  Y: 900

  Radius: 1073
**/
#overlay {
  position: absolute;
  border-radius: 50%;
  top: -173px;
  left: -488px;
  width: 2146px;
  height: 2146px;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1073px black;
}
.wave {
  position: absolute;
  border-radius: 50%;
  top: -173px;
  left: -488px;
  width: 2146px;
  height: 2146px;
  box-sizing: border-box;
  /* box-shadow: inset 0 0 1024px 256px black; */
  background: #007AFF;
  transition: transform 3s, opacity 3s;
}
